.container {
  margin-top: 40px;
}

.taskItem {
  margin-bottom: 0rem;
  text-align: left;
  margin-left: 15px;
}

.inputWrapper {
  margin-top: 20px;
}

.trash {
  color: rgb(225, 82, 65);
  margin-right: 10px;
  cursor: pointer;
}

.checked {
  color: rgb(95, 162, 63);
  cursor: pointer;
  margin-right: 10px;
}

.clock {
 color: gray;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}


.itemRowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.deadlineTimeWrapper {
  margin-top: 20px;
}


.setDeadlineBtn {
  margin-left: 10px;
}

.toastWrapper {
  position: absolute;
  top: 15px;
  right: 30px;
}

.bloodNeed {
  color:rgb(225, 82, 65);
  position: absolute;
  right: -20px;
}
.bloodNeedTime {
  color:rgb(225, 82, 65);
  position: absolute;
  right: -130px;
  margin-top: 15px;
  font-size: 13px;
}

.bloodMana {
  color:rgb(95, 162, 63);
  position: absolute;
  right: -115px;
  margin-top: 15px;
  font-size: 13px;
}

